MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=password
MYSQL_WORDPRESS_PASSWORD=mywordpress
PMA_ARBITRARY=1
PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=password
WORDPRESS_SITENAME=mywordpress
WORDPRESS_ADMIN=admin
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_CONTAINER=wordpress
WORDPRESS_PHPFPM_PORT=9000
WORDPRESS_NEVER_CHANGE_SITEURL=
NGINX_DOCROOT=/var/www-nginx/wordpress
NGINX_SERVER_NAME=localhost
